<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <link rel="stylesheet" href="/css/chatRoomList.css" type="text/css">
  <script defer src="/js/chatRoom.js"></script>
</head>
<body>
  <div class="chat-box">
    <div class="chat-header">
      <h1>채팅</h1>
      <form>
        <label for="create-chatRoom">방 생성</label>
        <input type="text" id="create-chatRoom"/>
        <button>전송</button>
      </form>
    </div>
    <div id="chat-body" class="chat-body">

    </div>
  </div>
</body>
</html>
